/* ================================================================== */
/*  Mixins  */
/* ================================================================== */
/* ================================================================== */
/*  Fonts  */
/* ================================================================== */
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.ttf");
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat-Bold";
  src: url("../fonts/Montserrat-Bold.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Montserrat-Light";
  src: url("../fonts/Montserrat-Light.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Josefin";
  src: url("../fonts/JosefinSans-SemiBold.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Josefin";
  src: url("../fonts/JosefinSans-Bold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Josefin";
  src: url("../fonts/JosefinSans-Regular.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "Josefin";
  src: url("../fonts/JosefinSans-Light.ttf");
  font-weight: 100;
}
/* ================================================================== */
/*  Variables  */
/* ================================================================== */
:root {
  --sqr: 150px;
}
@media (max-width: 1600px) {
  :root {
    --sqr: 100px;
  }
}
@media (max-width: 1280px) {
  :root {
    --sqr: 75px;
  }
}
@media (max-width: 992px) {
  :root {
    --sqr: 50px;
  }
}
@media (max-width: 768px) {
  :root {
    --sqr: 25px;
  }
}
@media (max-width: 480px) {
  :root {
    --sqr: 15px;
  }
}

/* ================================================================== */
/*  Contacto  */
/* ================================================================== */
#contact {
  padding: 55px var(--sqr);
  text-align: center;
}
#contact .title {
  text-align: center;
  padding: 10px;
  margin: 15px;
  margin-top: 40px;
  color: #428559;
  position: relative;
}
#contact .title .behind h1 {
  opacity: 0.15;
  font-size: 7rem;
  letter-spacing: 3px;
  width: auto;
  display: inline-block;
  vertical-align: middle;
}
@media (max-width: 768px) {
  #contact .title .behind h1 {
    font-size: 4rem;
  }
}
@media (max-width: 680px) {
  #contact .title .behind h1 {
    font-size: 2.8rem;
  }
}
@media (max-width: 480px) {
  #contact .title .behind h1 {
    font-size: 2.35rem;
  }
}
#contact .title .behind img {
  opacity: 1;
  width: 55px;
  display: inline-block;
  vertical-align: middle;
}
@media (max-width: 680px) {
  #contact .title .behind img {
    display: none;
  }
}
#contact .title .front {
  position: absolute;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
}
#contact .title h1 {
  padding: 10px 35px;
  position: relative;
  text-transform: uppercase;
}

#form form {
  width: 80%;
  margin: 50px auto;
  border-radius: 4px;
  padding: 25px 35px;
  border: 2px solid #428559;
}
#form form .input input {
  margin: 0 5px;
}

/*# sourceMappingURL=contact.css.map */
