@charset "UTF-8";
/* ================================================================== */
/*  Mixins  */
/* ================================================================== */
/* ================================================================== */
/*  Fonts  */
/* ================================================================== */
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.ttf");
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat-Bold";
  src: url("../fonts/Montserrat-Bold.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Montserrat-Light";
  src: url("../fonts/Montserrat-Light.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Josefin";
  src: url("../fonts/JosefinSans-SemiBold.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Josefin";
  src: url("../fonts/JosefinSans-Bold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Josefin";
  src: url("../fonts/JosefinSans-Regular.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "Josefin";
  src: url("../fonts/JosefinSans-Light.ttf");
  font-weight: 100;
}
/* ================================================================== */
/*  Variables  */
/* ================================================================== */
:root {
  --sqr: 150px;
}
@media (max-width: 1600px) {
  :root {
    --sqr: 100px;
  }
}
@media (max-width: 1280px) {
  :root {
    --sqr: 75px;
  }
}
@media (max-width: 992px) {
  :root {
    --sqr: 50px;
  }
}
@media (max-width: 768px) {
  :root {
    --sqr: 25px;
  }
}
@media (max-width: 480px) {
  :root {
    --sqr: 15px;
  }
}

/* ================================================================== */
/*  HOME  */
/* ================================================================== */
#home-slider .slide {
  background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#home-slider .owl-nav {
  position: absolute;
  top: 50%;
  width: calc(100vw - 2%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #e7941e;
  font-size: 8.5rem;
  padding: 0 1.5%;
}
#home-slider .owl-nav span {
  text-shadow: 2px 2px 0px #000;
}

#endulza {
  padding: 0;
  margin-bottom: 25px;
}
#endulza .text {
  text-align: center;
  position: relative;
  display: inline-block;
  width: 49.5%;
  vertical-align: middle;
}
#endulza .text img {
  position: absolute;
  top: 50%;
  left: 7%;
  transform: translateY(-50%);
  width: 75px;
}
#endulza h1 {
  text-transform: uppercase;
}
#endulza h1.first {
  font-weight: 100;
  color: #a7d32c;
}
#endulza h1.second {
  font-weight: 800;
  color: #e7941e;
}
#endulza h1.third {
  color: #a7d32c;
}
#endulza .image {
  width: 50%;
  display: inline-block;
  vertical-align: middle;
}
#endulza .image img {
  max-width: 100%;
}
@media (max-width: 1100px) {
  #endulza .text {
    padding: 50px 25px;
  }
  #endulza .text, #endulza .image {
    width: 100%;
    display: block;
  }
}

#thirds {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
#thirds .third {
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  width: calc( 100vw / 3 );
  height: calc( 100vw / 3 );
  flex-grow: 1;
}
@media (max-width: 1024px) {
  #thirds .third {
    width: calc( 100vw / 2 );
    height: calc( 100vw / 2 );
  }
}
@media (max-width: 768px) {
  #thirds .third {
    width: calc( 100vw / 1 );
    height: calc( 100vw / 1.5 );
  }
}
#thirds .third .title {
  margin-left: 52.5%;
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  padding: 15px;
  justify-content: center;
}
#thirds .third .title h4 {
  color: white;
  text-align: left;
}

#video {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  align-items: stretch;
}
@media (max-width: 1024px) {
  #video {
    flex-flow: column-reverse;
  }
}
#video video {
  width: 60%;
}
@media (max-width: 1024px) {
  #video video {
    width: 100%;
  }
}
#video .content {
  flex-grow: 1;
  display: flex;
  flex-flow: column;
}
@media (max-width: 1024px) {
  #video .content {
    flex-flow: row;
  }
}
#video .content h2 {
  font-family: "Montserrat";
  text-align: left;
  text-transform: uppercase;
}
#video .content .up {
  height: 50%;
  text-align: center;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: flex-end;
}
#video .content .up h2 {
  color: #e7941e;
}
#video .content .up h2 big {
  font-family: "Montserrat-Bold";
}
@media (max-width: 1024px) {
  #video .content .up {
    height: auto;
    width: 50%;
    justify-content: center;
    align-items: flex-end;
    padding: 35px;
    padding-right: 10px;
  }
}
#video .content .down {
  background-color: #f1de80;
  height: 50%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: flex-start;
}
#video .content .down h2 {
  color: #428559;
}
@media (max-width: 1024px) {
  #video .content .down {
    width: 50%;
    height: auto;
    justify-content: center;
    align-items: self-start;
    padding-left: 7px;
  }
}

#productos .title {
  text-align: center;
  padding: 10px;
  margin: 15px;
  margin-top: 40px;
  color: #428559;
}
#productos .title .front {
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
}
#productos .title img {
  vertical-align: middle;
}
#productos .title h1 {
  padding: 35px 5px;
  position: relative;
  text-transform: uppercase;
}
#productos #productos-halfs {
  display: flex;
  justify-content: center;
  align-items: center;
}
#productos #productos-halfs .producto-slider {
  width: calc( 100vw / 2);
  padding: 50px;
  position: relative;
}
@media (max-width: 786px) {
  #productos #productos-halfs .producto-slider {
    padding: 25px;
  }
}
@media (max-width: 480px) {
  #productos #productos-halfs .producto-slider {
    padding: 10px;
  }
}
#productos #productos-halfs .producto-slider .next {
  position: absolute;
  top: calc( 50% - 37px );
  right: 0;
  right: 43px;
  z-index: 2;
  padding: 20px 25px;
  border-radius: 50%;
  background-color: #e7941e;
  -webkit-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 250ms ease;
}
#productos #productos-halfs .producto-slider .next i {
  color: white;
}
#productos #productos-halfs .producto-slider .next:hover {
  background-color: #428559;
}
@media (max-width: 680px) {
  #productos #productos-halfs .producto-slider .next {
    padding: 10px 15px;
  }
}
#productos #productos-halfs .producto-slider .prev {
  position: absolute;
  top: calc( 50% - 34px );
  left: 43px;
  z-index: 2;
  padding: 20px 25px;
  border-radius: 50%;
  background-color: #e7941e;
  -webkit-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 250ms ease;
}
#productos #productos-halfs .producto-slider .prev i {
  color: white;
}
#productos #productos-halfs .producto-slider .prev:hover {
  background-color: #428559;
}
@media (max-width: 680px) {
  #productos #productos-halfs .producto-slider .prev {
    padding: 10px 15px;
  }
}
#productos #productos-halfs .producto-slider .producto-nav {
  position: absolute;
  top: calc( 50% - 42px );
  z-index: 3;
  width: 85%;
  display: flex;
  justify-content: space-between;
}
#productos #productos-halfs .producto-slider .producto-nav a {
  padding: 20px 25px;
  border-radius: 50%;
  background-color: #e7941e;
}
#productos #productos-halfs .producto-slider .producto-nav a i {
  color: white;
}
#productos #productos-halfs .producto-slider .slide {
  padding: 45px 25px;
  background-color: #e9f1ed;
  border-radius: 10px;
  text-align: center;
}
#productos #productos-halfs .producto-slider .slide img {
  max-width: 100%;
  max-width: 545px;
  width: 90%;
  padding: 10px;
  margin: 0 auto;
}
#productos #productos-halfs .producto-slider .slide .subtitle {
  margin-top: 15px;
}
#productos #productos-halfs .producto-slider .slide .subtitle h3 {
  color: #428559;
}
@media (max-width: 768px) {
  #productos #productos-halfs .producto-slider .slide {
    padding: 45px 5px;
  }
}
#productos #productos-halfs .squares {
  width: calc( 100vw / 2);
}
#productos #productos-halfs .squares span {
  display: inline-block;
  width: 40%;
  text-align: center;
  padding: 25px;
  border-radius: 10px;
  margin: 2.5%;
  background-color: #e9f1ed;
  opacity: 1;
}
#productos #productos-halfs .squares span img {
  height: 230px;
}
@media (max-width: 1280px) {
  #productos #productos-halfs .squares span img {
    height: 185px;
  }
}
@media (max-width: 768px) {
  #productos #productos-halfs .squares span img {
    height: 275px;
  }
}
#productos #productos-halfs .squares span .subtitle {
  text-align: center;
  margin-top: 15px;
}
#productos #productos-halfs .squares span .subtitle h4 {
  color: #428559;
}
@media (max-width: 768px) {
  #productos #productos-halfs .squares span {
    width: 90%;
  }
}
@media (max-width: 1024px) {
  #productos #productos-halfs {
    flex-flow: row;
    justify-content: center;
    align-items: center;
  }
  #productos #productos-halfs .producto-slider {
    width: 80%;
  }
  #productos #productos-halfs .squares {
    width: 100%;
    text-align: center;
  }
}

#buy {
  background-color: #fae8d6;
  padding: 25px;
  display: flex;
  flex-flow: column;
  min-height: 46vh;
  justify-content: space-around;
}
#buy .title {
  text-align: center;
}
#buy .title h1 {
  display: inline-block;
  color: #e7941e;
  text-transform: uppercase;
  margin-left: 15px;
  margin-bottom: 25px;
  border-bottom: 5px solid #a7d32c;
}
#buy .prev-nav, #buy .next-nav {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  width: 9%;
}
#buy .prev-nav a, #buy .next-nav a {
  color: #e7941e;
}
#buy .buy-slider {
  display: inline-block;
  width: 80%;
  vertical-align: middle;
}
#buy .buy-slider .slide {
  padding: 25px;
}
#buy .buy-slider .slide img {
  width: 80%;
  margin: 0 auto;
}
@media (max-width: 768px) {
  #buy .buy-slider {
    width: 79%;
  }
}

#chica2 .image {
  width: 100%;
  margin: 0 auto;
  position: relative;
}
#chica2 .image img {
  max-width: 100%;
  vertical-align: bottom;
}
#chica2 .image h1 {
  text-align: center;
  text-transform: uppercase;
  color: white;
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

#people {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
#people .part {
  background-size: cover;
  background-position: center;
  width: calc( 100vw / 3 );
  height: calc( 100vw / 3 + 150px );
  flex-grow: 1;
}
#people .text {
  background-color: #a7d32c;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: end;
  height: 250px !important;
  justify-content: center;
  align-items: flex-end;
  color: white;
  text-transform: uppercase;
  position: relative;
}
#people .text:before {
  content: "";
  width: 80px;
  background: #a7d32c;
  height: 100%;
  right: -80px;
  position: absolute;
  opacity: 0.75;
}
@media (max-width: 1024px) {
  #people .text:before {
    width: 0;
    content: "";
  }
}
#people .text h1, #people .text h2 {
  position: relative;
  margin: 0;
  font-family: "Montserrat-Light";
}
#people .text h1:before, #people .text h2:before {
  content: "Con más Stevia";
  font-family: "Montserrat-Bold";
  position: absolute;
  top: 100%;
  color: #428559;
  text-align: right;
  width: 100%;
}
@media (max-width: 1024px) {
  #people .text {
    width: 100% !important;
    height: 100px !important;
  }
}

#recetas .title {
  text-align: center;
  padding: 10px;
  margin: 15px;
  margin-top: 40px;
  color: #e7941e;
}
#recetas .title .front {
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
}
#recetas .title h1 {
  padding: 35px;
  position: relative;
  text-transform: uppercase;
}
#recetas #recepies {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-items: flex-start;
}
#recetas #recepies .recipe {
  width: calc( 100vw / 4 - 75px);
  margin: 15px;
  margin-bottom: 25px;
}
#recetas #recepies .recipe span {
  display: block;
  margin-top: 10px;
}
#recetas #recepies .recipe h4 {
  margin: 10px 0;
  text-decoration: none;
  text-transform: uppercase;
  color: #428559;
}
#recetas #recepies .recipe h4:hover {
  color: #e7941e;
}
#recetas #recepies .recipe p {
  text-align: justify;
  font-size: 15px;
  color: #929292;
}
@media (max-width: 1280px) {
  #recetas #recepies .recipe {
    width: calc( 100vw / 3 - 75px);
  }
}
@media (max-width: 950px) {
  #recetas #recepies .recipe {
    width: calc( 100vw / 2 - 75px);
  }
}
@media (max-width: 680px) {
  #recetas #recepies .recipe {
    width: 80%;
    margin: 25px auto;
    text-align: center;
  }
}

iframe {
  width: 100%;
}

/*# sourceMappingURL=home.css.map */
