/* ================================================================== */
/*  Mixins  */
/* ================================================================== */
/* ================================================================== */
/*  Fonts  */
/* ================================================================== */
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.ttf");
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat-Bold";
  src: url("../fonts/Montserrat-Bold.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Montserrat-Light";
  src: url("../fonts/Montserrat-Light.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Josefin";
  src: url("../fonts/JosefinSans-SemiBold.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Josefin";
  src: url("../fonts/JosefinSans-Bold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Josefin";
  src: url("../fonts/JosefinSans-Regular.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "Josefin";
  src: url("../fonts/JosefinSans-Light.ttf");
  font-weight: 100;
}
/* ================================================================== */
/*  Variables  */
/* ================================================================== */
:root {
  --sqr: 150px;
}
@media (max-width: 1600px) {
  :root {
    --sqr: 100px;
  }
}
@media (max-width: 1280px) {
  :root {
    --sqr: 75px;
  }
}
@media (max-width: 992px) {
  :root {
    --sqr: 50px;
  }
}
@media (max-width: 768px) {
  :root {
    --sqr: 25px;
  }
}
@media (max-width: 480px) {
  :root {
    --sqr: 15px;
  }
}

/* ================================================================== */
/*  Nutrition  */
/* ================================================================== */
#nutrition {
  padding: 25px var(--sqr);
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 620px) {
  #nutrition .image {
    display: none;
  }
}
#nutrition .questions div {
  padding: 25px;
  text-align: center;
}
#nutrition .questions h2 {
  color: #e7941e;
  width: 75%;
  margin: 0 auto;
}
@media (max-width: 768px) {
  #nutrition .questions h2 {
    width: 95%;
  }
}
#nutrition .questions p {
  padding: 5px;
}

#iconos {
  text-align: center;
}
@media (max-width: 620px) {
  #iconos img {
    padding: 10px;
    margin: 0 10px;
    width: 85%;
  }
}

/*# sourceMappingURL=nutrition.css.map */
