/* ================================================================== */
/*  Mixins  */
/* ================================================================== */
/* ================================================================== */
/*  Fonts  */
/* ================================================================== */
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.ttf");
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat-Bold";
  src: url("../fonts/Montserrat-Bold.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Montserrat-Light";
  src: url("../fonts/Montserrat-Light.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Josefin";
  src: url("../fonts/JosefinSans-SemiBold.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Josefin";
  src: url("../fonts/JosefinSans-Bold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Josefin";
  src: url("../fonts/JosefinSans-Regular.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "Josefin";
  src: url("../fonts/JosefinSans-Light.ttf");
  font-weight: 100;
}
/* ================================================================== */
/*  Variables  */
/* ================================================================== */
:root {
  --sqr: 150px;
}
@media (max-width: 1600px) {
  :root {
    --sqr: 100px;
  }
}
@media (max-width: 1280px) {
  :root {
    --sqr: 75px;
  }
}
@media (max-width: 992px) {
  :root {
    --sqr: 50px;
  }
}
@media (max-width: 768px) {
  :root {
    --sqr: 25px;
  }
}
@media (max-width: 480px) {
  :root {
    --sqr: 15px;
  }
}

/* ================================================================== */
/*  Nutrition  */
/* ================================================================== */
#stevia {
  padding: 25px var(--sqr);
  text-align: center;
}
#stevia .title {
  text-align: center;
  padding: 10px;
  margin: 15px;
  margin-top: 40px;
  color: #428559;
}
#stevia .title .front {
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
}
#stevia .title h1 {
  padding: 10px 35px;
  position: relative;
  text-transform: uppercase;
}

#subtitle {
  text-align: center;
  text-transform: uppercase;
  padding: 50px var(--sqr);
}
#subtitle p {
  font-size: 6.5rem;
  color: #a7d32c;
  word-break: break-word;
}
@media (max-width: 768px) {
  #subtitle p {
    font-size: 4rem;
  }
}
@media (max-width: 480px) {
  #subtitle p {
    font-size: 3rem;
  }
}
#subtitle .green {
  color: #428559;
  font-weight: 500;
}
#subtitle:before {
  width: 150px;
  background: #e7941e;
  height: 10px;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
}
#subtitle:after {
  width: 150px;
  background: #e7941e;
  height: 10px;
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
}

#plant div {
  text-align: center;
  padding: 25px;
  margin: 15px;
}
@media (max-width: 768px) {
  #plant div {
    padding: 10px;
  }
}
#plant h2 {
  color: #a7d32c;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  #plant h2 {
    font-size: 3rem;
  }
}
#plant .plant img {
  float: left;
  width: 50%;
  vertical-align: middle;
}
@media (max-width: 768px) {
  #plant .plant img {
    float: none;
    width: 35%;
    display: block;
    margin: 0 auto;
  }
}

/*# sourceMappingURL=stevia.css.map */
