@charset "UTF-8";
/* ================================================================== */
/*  Mixins  */
/* ================================================================== */
/* ================================================================== */
/*  Fonts  */
/* ================================================================== */
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.ttf");
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat-Bold";
  src: url("../fonts/Montserrat-Bold.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Montserrat-Light";
  src: url("../fonts/Montserrat-Light.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Josefin";
  src: url("../fonts/JosefinSans-SemiBold.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Josefin";
  src: url("../fonts/JosefinSans-Bold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Josefin";
  src: url("../fonts/JosefinSans-Regular.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "Josefin";
  src: url("../fonts/JosefinSans-Light.ttf");
  font-weight: 100;
}
/* ================================================================== */
/*  Variables  */
/* ================================================================== */
:root {
  --sqr: 150px;
}
@media (max-width: 1600px) {
  :root {
    --sqr: 100px;
  }
}
@media (max-width: 1280px) {
  :root {
    --sqr: 75px;
  }
}
@media (max-width: 992px) {
  :root {
    --sqr: 50px;
  }
}
@media (max-width: 768px) {
  :root {
    --sqr: 25px;
  }
}
@media (max-width: 480px) {
  :root {
    --sqr: 15px;
  }
}

/* ================================================================== */
/*  Qué es  */
/* ================================================================== */
#whatis {
  padding: 25px var(--sqr);
  text-align: center;
}
#whatis .title {
  text-align: center;
  padding: 10px;
  margin: 15px;
  margin-top: 40px;
  color: #428559;
}
#whatis .title .front {
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
}
#whatis .title h1 {
  padding: 10px 35px;
  position: relative;
  text-transform: uppercase;
}

#texts {
  text-align: center;
  margin: 25px 0;
}
#texts .content {
  text-align: center;
  margin: 25px 0;
  padding: 25px var(--sqr);
  vertical-align: top;
}
@media (max-width: 768px) {
  #texts .content {
    padding: 0;
    margin: 0;
  }
}
#texts .content .single, #texts .content .double {
  display: inline-block;
  margin: 0 auto;
  width: 45%;
}
@media (max-width: 768px) {
  #texts .content .single, #texts .content .double {
    width: 100%;
    display: block;
    padding: 25px;
    margin: 10px 0;
  }
}
#texts .content h2 {
  color: #e7941e;
  text-align: center;
  text-transform: uppercase;
}
@media (max-width: 480px) {
  #texts .content h2 {
    font-size: 3rem;
  }
}
#texts img.leaves {
  width: 125px;
}
#texts img.sobre {
  width: 80%;
  margin: 0 auto;
}

/*# sourceMappingURL=whatis.css.map */
