/* ================================================================== */
/*  Mixins  */
/* ================================================================== */
/* ================================================================== */
/*  Fonts  */
/* ================================================================== */
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.ttf");
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat-Bold";
  src: url("../fonts/Montserrat-Bold.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Montserrat-Light";
  src: url("../fonts/Montserrat-Light.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Josefin";
  src: url("../fonts/JosefinSans-SemiBold.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Josefin";
  src: url("../fonts/JosefinSans-Bold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Josefin";
  src: url("../fonts/JosefinSans-Regular.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "Josefin";
  src: url("../fonts/JosefinSans-Light.ttf");
  font-weight: 100;
}
/* ================================================================== */
/*  Variables  */
/* ================================================================== */
:root {
  --sqr: 150px;
}
@media (max-width: 1600px) {
  :root {
    --sqr: 100px;
  }
}
@media (max-width: 1280px) {
  :root {
    --sqr: 75px;
  }
}
@media (max-width: 992px) {
  :root {
    --sqr: 50px;
  }
}
@media (max-width: 768px) {
  :root {
    --sqr: 25px;
  }
}
@media (max-width: 480px) {
  :root {
    --sqr: 15px;
  }
}

/* ================================================================== */
/*  Dode comprar  */
/* ================================================================== */
#where {
  padding: 55px var(--sqr);
  text-align: center;
}
#where h1 {
  color: #428559;
  padding: 10px 35px;
  position: relative;
  text-transform: uppercase;
}

#buy {
  background-color: #fae8d6;
  padding: 25px;
  display: flex;
  flex-flow: column;
  min-height: 46vh;
  justify-content: space-around;
}
#buy .title {
  text-align: center;
}
#buy .title h1 {
  display: inline-block;
  color: #e7941e;
  text-transform: uppercase;
  margin-left: 15px;
  margin-bottom: 25px;
  border-bottom: 5px solid #428559;
}
#buy .prev-nav, #buy .next-nav {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  width: 9%;
}
#buy .prev-nav a, #buy .next-nav a {
  color: #a7d32c;
}
#buy .buy-slider {
  display: inline-block;
  width: 80%;
  vertical-align: middle;
}
#buy .buy-slider .slide {
  padding: 25px;
}
#buy .buy-slider .slide img {
  width: 80%;
  margin: 0 auto;
}
@media (max-width: 768px) {
  #buy .buy-slider {
    width: 79%;
  }
}

#productos .producto-slider {
  width: 55%;
  margin: 0 auto;
  padding: 50px;
  position: relative;
}
#productos .producto-slider .next {
  position: absolute;
  top: calc( 50% - 37px );
  right: 0;
  right: 43px;
  z-index: 2;
  padding: 20px 25px;
  border-radius: 50%;
  background-color: #e7941e;
  -webkit-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 250ms ease;
}
#productos .producto-slider .next i {
  color: white;
}
#productos .producto-slider .next:hover {
  background-color: #428559;
}
@media (max-width: 680px) {
  #productos .producto-slider .next {
    padding: 10px 15px;
  }
}
@media (max-width: 480px) {
  #productos .producto-slider .next {
    right: 15px;
  }
}
#productos .producto-slider .prev {
  position: absolute;
  top: calc( 50% - 34px );
  left: 43px;
  z-index: 2;
  padding: 20px 25px;
  border-radius: 50%;
  background-color: #e7941e;
  -webkit-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 250ms ease;
}
#productos .producto-slider .prev i {
  color: white;
}
#productos .producto-slider .prev:hover {
  background-color: #428559;
}
@media (max-width: 680px) {
  #productos .producto-slider .prev {
    padding: 10px 15px;
  }
}
@media (max-width: 480px) {
  #productos .producto-slider .prev {
    left: 15px;
  }
}
#productos .producto-slider .producto-nav {
  position: absolute;
  top: calc( 50% - 42px );
  z-index: 3;
  width: 85%;
  display: flex;
  justify-content: space-between;
}
#productos .producto-slider .producto-nav a {
  padding: 20px 25px;
  border-radius: 50%;
  background-color: #e7941e;
}
#productos .producto-slider .producto-nav a i {
  color: white;
}
#productos .producto-slider .slide {
  padding: 45px 25px;
  background-color: #e9f1ed;
  border-radius: 10px;
  text-align: center;
}
#productos .producto-slider .slide img {
  max-width: 100%;
  max-width: 545px;
  width: 60%;
  padding: 10px;
  margin: 0 auto;
}
#productos .producto-slider .slide .subtitle {
  margin-top: 15px;
}
#productos .producto-slider .slide .subtitle h3 {
  color: #428559;
}
@media (max-width: 480px) {
  #productos .producto-slider .slide .subtitle {
    width: 90%;
    padding: 0 7.5px;
    margin: 0 auto;
  }
}
@media (max-width: 768px) {
  #productos .producto-slider {
    width: 80%;
  }
}
@media (max-width: 680px) {
  #productos .producto-slider {
    width: 90%;
  }
}
@media (max-width: 480px) {
  #productos .producto-slider {
    width: 100%;
    padding: 40px 20px;
  }
}

/*# sourceMappingURL=where.css.map */
