$goblin: #428559;
// $goblin: #6ea485;
$sand: #f1de80;
// $dixie: #7f9f48;
$dixie: #e7941e;
$atlantis: #a7d32c;
$wild-willow: #afc265;
$champagne: #fae8d6;
$wagreen: #25d366; //WhatsApp

/* ================================================================== */
/*  Mixins  */
/* ================================================================== */
@mixin smooth_transition($time: 1s, $mode: ease){
	-webkit-transition: all $time $mode;
	-moz-transition: all $time $mode;
	-o-transition: all $time $mode;
	transition: all $time $mode;
}

@mixin flex_centered($mode: flex) {
	display: $mode;
	justify-content: center;
	align-items: center;
}
/* ================================================================== */
/*  Fonts  */
/* ================================================================== */
@font-face {
	font-family: "Montserrat";
	src: url("../fonts/Montserrat-Regular.ttf");
	font-weight: normal;
	font-display: swap;
}

@font-face {
	font-family: "Montserrat-Bold";
	src: url("../fonts/Montserrat-Bold.ttf");
	font-display: swap;
}

@font-face {
	font-family: "Montserrat-Light";
	src: url("../fonts/Montserrat-Light.ttf");
	font-display: swap;
}

@font-face {
	font-family: "Josefin";
	src: url("../fonts/JosefinSans-SemiBold.ttf");
	font-weight: 500;
}

@font-face {
	font-family: "Josefin";
	src: url("../fonts/JosefinSans-Bold.ttf");
	font-weight: 600;
}

@font-face {
	font-family: "Josefin";
	src: url("../fonts/JosefinSans-Regular.ttf");
	font-weight: normal;
}

@font-face {
	font-family: "Josefin";
	src: url("../fonts/JosefinSans-Light.ttf");
	font-weight: 100;
}

/* ================================================================== */
/*  Variables  */
/* ================================================================== */
$sqr: 100px;
$sqr-1: 70px;
$sqr-2: 40px;
$sqr-3: 20px;
$sqr-4: 5px;

:root {
	--sqr: 150px;

	@media(max-width: 1600px) {
		--sqr: 100px;
	}

	@media(max-width: 1280px) {
		--sqr: 75px;
	}

	@media(max-width: 992px) {
		--sqr: 50px;
	}

	@media(max-width: 768px) {
		--sqr: 25px;
	}

	@media(max-width: 480px) {
		--sqr: 15px;
	}
}
