// Variables
@import 'variables';

/* ================================================================== */
/*  HOME  */
/* ================================================================== */

#home-slider {

    .slide {
        background-size: cover;
        // min-height: 100vh;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    .owl-nav {
        position: absolute;
        top: 50%;
        width: calc(100vw - 2%);
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: $dixie;
        font-size: 8.5rem;
        padding: 0 1.5%;

        span {
            text-shadow: 2px 2px 0px #000;
        }
    }
}

#endulza {
    padding: 0;
    margin-bottom: 25px;

    .text {
        text-align: center;
        position: relative;
        display: inline-block;
        width: 49.5%;
        vertical-align: middle;

        img {
            position: absolute;
            top: 50%;
            left: 7%;
            transform: translateY(-50%);
            width: 75px;
        }
    }
    h1 {

        text-transform: uppercase;

        &.first {
            font-weight: 100;
            color: $atlantis;
        }
        &.second {
            font-weight: 800;
            color: $dixie;
        }
        &.third {
            color: $atlantis;
        }
    }
    .image {
        width: 50%;
        display: inline-block;
        vertical-align: middle;

        img {
            max-width: 100%;
        }
    }

    @media ( max-width: 1100px ) {
        .text {
            padding: 50px 25px;
        }
        .text, .image {
            width: 100%;
            display: block;
        }
    }

}

#thirds {

    @include flex_centered();
    flex-wrap: wrap;

    .third {
        background-size: contain !important;
        background-repeat: no-repeat !important;
        background-position: center !important;
        width: calc( 100vw / 3 );
        height: calc( 100vw / 3 );
        flex-grow: 1;

        @media ( max-width: 1024px ) {
            width: calc( 100vw / 2 );
            height: calc( 100vw / 2 );
        }
        @media ( max-width: 768px ) {
            width: calc( 100vw / 1 );
            height: calc( 100vw / 1.5 );
        }

        .title {
            margin-left: 52.5%;
            height: 100%;
            display: flex;
            flex-flow: column;
            align-items: flex-start;
            padding: 15px;
            justify-content: center;

            h4 {
                color: white;
                text-align: left;
            }
        }
    }

}

#video {

    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    align-items: stretch;

    @media ( max-width: 1024px ) {
        flex-flow: column-reverse;
    }

    video {
        width: 60%;

        @media ( max-width: 1024px ) {
            width: 100%;
        }
    }
    .content {
        flex-grow: 1;
        display: flex;
        flex-flow: column;

        @media ( max-width: 1024px ) {
            flex-flow: row;
        }

        h2 {
            font-family: "Montserrat";
            text-align: left;
            text-transform: uppercase;
        }

        .up {
            height: 50%;
            text-align: center;
            display: flex;
            flex-flow: column;
            align-items: center;
            justify-content: flex-end;

            h2 {
                color: $dixie;

                big {
                    font-family: "Montserrat-Bold";
                }
            }

            @media ( max-width: 1024px ){
                height: auto;
                width: 50%;
                justify-content: center;
                align-items: flex-end;
                padding: 35px;
                padding-right: 10px;
            }
        }
        .down {
            background-color: $sand;
            height: 50%;
            display: flex;
            flex-flow: column;
            align-items: center;
            justify-content: flex-start;

            h2 {
                color: $goblin;
            }

            @media ( max-width: 1024px ){
                width: 50%;
                height: auto;
                justify-content: center;
                align-items: self-start;
                padding-left: 7px;
            }
        }
    }

}

#productos {

    .title {
        text-align: center;
        padding: 10px;
        margin: 15px;
        margin-top: 40px;
        color: $goblin;
        // position: relative;

        .front {
            // position: absolute;
            top: 2rem;
            left: 50%;
            transform: translateX(-50%);
        }

        img {
            vertical-align: middle;
        }

        h1 {
            padding: 35px 5px;
            position: relative;
            text-transform: uppercase;
        }
    }

    #productos-halfs {
        @include flex_centered();

        .producto-slider {
            width: calc( 100vw / 2);
            padding: 50px;
            position: relative;

            @media (max-width: 786px) {
                padding: 25px;
            }
            @media (max-width: 480px) {
                padding: 10px;
            }

            .next {
                position: absolute;
                top: calc( 50% - 37px );
                right: 0;
                right: 43px;
                z-index: 2;
                padding: 20px 25px;
                border-radius: 50%;
                background-color: $dixie;
                @include smooth_transition(250ms);

                i {
                    color: white;
                }

                &:hover {
                    background-color: $goblin;
                }
                @media ( max-width: 680px ){
                    padding: 10px 15px;
                }
            }
            .prev {
                position: absolute;
                top: calc( 50% - 34px );
                left: 43px;
                z-index: 2;
                padding: 20px 25px;
                border-radius: 50%;
                background-color: $dixie;
                @include smooth_transition(250ms);

                i {
                    color: white;
                }

                &:hover {
                    background-color: $goblin;
                }
                @media ( max-width: 680px ){
                    padding: 10px 15px;
                }
            }

            .producto-nav {
                position: absolute;
                top: calc( 50% - 42px );
                z-index: 3;
                width: 85%;
                display: flex;
                justify-content: space-between;

                a {
                    padding: 20px 25px;
                    border-radius: 50%;
                    background-color: $dixie;

                    i {
                        color: white;
                    }
                }
            }

            .slide  {
                padding: 45px 25px;
                // background-color: $dixie;
                background-color: #e9f1ed;
                border-radius: 10px;
                // min-height: 650px;
                text-align: center;

                img {
                    max-width: 100%;
                    max-width: 545px;
                    width: 90%;
                    padding: 10px;
                    // height: 100%;
                    margin: 0 auto;
                }

                .subtitle {

                    margin-top: 15px;

                    h3 {
                        color: $goblin;
                    }
                }

                @media (max-width: 768px) {
                    padding: 45px 5px;
                }
            }
        }

        .squares {
            width: calc( 100vw / 2);

            span {
                display: inline-block;
                width: 40%;
                text-align: center;
                padding: 25px;
                border-radius: 10px;
                margin: 2.5%;
                background-color: #e9f1ed;
                opacity: 1;

                img {
                    //width: 75%;
                    height: 230px;

                    @media ( max-width: 1280px ) {
                        height: 185px;
                    }
                    @media ( max-width: 768px ) {
                        height: 275px;
                    }
                }

                .subtitle {
                    text-align: center;
                    margin-top: 15px;

                    h4 {
                        color: $goblin;
                    }
                }

                @media ( max-width: 768px ) {
                    width: 90%;
                }
            }
        }

        @media ( max-width: 1024px ) {
            flex-flow: row;
            justify-content: center;
            align-items: center;

            .producto-slider {
                width: 80%;
            }
            .squares {
                width: 100%;
                text-align: center;
            }
        }

    }
}

#buy {
    background-color: $champagne;
    padding: 25px;
    display: flex;
    flex-flow: column;
    min-height: 46vh;
    justify-content: space-around;

    .title {
        text-align: center;

        h1 {
            display: inline-block;
            color: $dixie;
            text-transform: uppercase;
            margin-left: 15px;
            margin-bottom: 25px;
            border-bottom: 5px solid $atlantis;
        }
    }

    .prev-nav, .next-nav {
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        width: 9%;

        a {
            color: $dixie;
        }
    }

    .buy-slider {
        display: inline-block;
        width: 80%;
        vertical-align: middle;

        .slide {
            padding: 25px;

            img {
                width: 80%;
                margin: 0 auto;
            }
        }

        @media (max-width: 768px){
            width: 79%;
        }
    }
}

#chica2 {

    .image {
        width: 100%;
        margin: 0 auto;
        position: relative;

        img {
            max-width: 100%;
            vertical-align: bottom;
        }

        h1 {
            text-align: center;
            text-transform: uppercase;
            color: white;
            position: absolute;
            z-index: 2;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 100%;
        }
    }

}

#people {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    .part {
        background-size: cover;
        background-position: center;
        width: calc( 100vw / 3 );
        height: calc( 100vw / 3 + 150px );
        flex-grow: 1;
    }

    .text {
        background-color: $atlantis;
        height: 50%;
        @include flex_centered();
        align-self: end;
        height: 250px !important;
        justify-content: center;
        align-items: flex-end;
        color: white;
        text-transform: uppercase;
        position: relative;

        &:before {
            content: '';
            width: 80px;
            background: $atlantis;
            height: 100%;
            right: -80px;
            position: absolute;
            opacity: 0.75;

            @media ( max-width: 1024px ){
                width: 0;
                content: '';
            }
        }

        h1, h2 {
            position: relative;
            margin: 0;
            font-family: "Montserrat-Light";

            &:before {
                content: 'Con más Stevia';
                font-family: "Montserrat-Bold";
                position: absolute;
                top: 100%;
                color: $goblin;
                text-align: right;
                width: 100%;
            }
        }

        @media ( max-width: 1024px ){
            width: 100% !important;
            height: 100px !important;
        }
    }

}

#recetas {

    .title {
        text-align: center;
        padding: 10px;
        margin: 15px;
        margin-top: 40px;
        color: $dixie;

        .front {
            top: 2rem;
            left: 50%;
            transform: translateX(-50%);
        }

        h1 {
            padding: 35px;
            position: relative;
            text-transform: uppercase;
        }
    }

    #recepies {
        @include flex_centered();
        flex-wrap: wrap;
        align-items: flex-start;

        .recipe {
            width: calc( 100vw / 4 - 75px);
            margin: 15px;
            margin-bottom: 25px;

            span {
                display: block;
                margin-top: 10px;
            }

            h4 {
                margin: 10px 0;
                text-decoration: none;
                text-transform: uppercase;
                color: $goblin;

                &:hover {
                    color: $dixie;
                }
            }

            p {
                text-align: justify;
                font-size: 15px;
                color: #929292;
            }

            @media ( max-width: 1280px ) {
                width: calc( 100vw / 3 - 75px);
            }
            @media ( max-width: 950px ) {
                width: calc( 100vw / 2 - 75px);
            }
            @media ( max-width: 680px ) {
                width: 80%;
                margin: 25px auto;
                text-align: center;
            }
        }


    }
}

iframe {
    width: 100%;
}
