// Variables
@import 'variables';

/* ================================================================== */
/*  Nutrition  */
/* ================================================================== */

#nutrition {

    padding: 25px var(--sqr);
    display: flex;
    align-items: center;
    justify-content: center;

    .image {
        @media ( max-width: 620px ){
            display: none;
        }
    }

    .questions {

        div {
            padding: 25px;
            text-align: center;
        }

        h2 {
            color: $dixie;
            width: 75%;
            margin: 0 auto;

            @media ( max-width: 768px ) {
                width: 95%;
            }
        }
        p {
            padding: 5px;
        }
    }

}
#iconos {

    text-align: center;

    img {
        @media ( max-width: 620px ){
            padding: 10px;
            margin: 0 10px;
            width: 85%;
        }
    }

}
