// Variables
@import 'variables';

/* ================================================================== */
/*  Nutrition  */
/* ================================================================== */

#stevia {

    padding: 25px var(--sqr);
    text-align: center;

    .title {
        text-align: center;
        padding: 10px;
        margin: 15px;
        margin-top: 40px;
        color: $goblin;

        .front {
            top: 2rem;
            left: 50%;
            transform: translateX(-50%);
        }

        h1 {
            padding: 10px 35px;
            position: relative;
            text-transform: uppercase;
        }
    }
}

#subtitle {
    text-align: center;
    text-transform: uppercase;
    padding: 50px var(--sqr);

    p {
        font-size: 6.5rem;
        color: $atlantis;
        word-break: break-word;

        @media( max-width: 768px) {
            font-size: 4rem;
        }
        @media( max-width: 480px) {
            font-size: 3rem;
        }
    }

    .green {
        color: $goblin;
        font-weight: 500;
    }

    &:before {
        width: 150px;
        background: $dixie;
        height: 10px;
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
    }
    &:after {
        width: 150px;
        background: $dixie;
        height: 10px;
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
    }
}

#plant {

    div {
        text-align: center;
        padding: 25px;
        margin: 15px;

        @media ( max-width: 768px ){
            padding: 10px;
        }
    }

    h2 {
        color: $atlantis;
        text-transform: uppercase;

        @media ( max-width: 768px ){
            font-size: 3rem;
        }
    }

    .plant {

        img {
            float: left;
            width: 50%;
            vertical-align: middle;

            @media ( max-width: 768px ) {
                float: none;
                width: 35%;
                display: block;
                margin: 0 auto;
            }
        }
    }

}
