// Variables
@import 'variables';

/* ================================================================== */
/*  Qué es  */
/* ================================================================== */

#whatis {

    padding: 25px var(--sqr);
    text-align: center;

    .title {
        text-align: center;
        padding: 10px;
        margin: 15px;
        margin-top: 40px;
        color: $goblin;

        .front {
            top: 2rem;
            left: 50%;
            transform: translateX(-50%);
        }

        h1 {
            padding: 10px 35px;
            position: relative;
            text-transform: uppercase;
        }
    }
}

#texts {
    text-align: center;
    margin: 25px 0;

    .content {
        text-align: center;
        margin: 25px 0;
        padding: 25px var(--sqr);
        vertical-align: top;

        @media ( max-width: 768px ) {
            padding: 0;
            margin: 0;
        }

        .single, .double {
            display: inline-block;
            margin: 0 auto;
            width: 45%;

            @media ( max-width: 768px ) {
                width: 100%;
                display: block;
                padding: 25px;
                margin: 10px 0;
            }
        }

        h2 {
            color: $dixie;
            text-align: center;
            text-transform: uppercase;

            @media ( max-width: 480px ) {
                font-size: 3rem;
            }
        }

    }
    img {
        &.leaves {
            width: 125px;
        }
        &.sobre {
            width: 80%;
            margin: 0 auto;
        }
    }

}
