// Variables
@import 'variables';

/* ================================================================== */
/*  Dode comprar  */
/* ================================================================== */

#where {

    padding: 55px var(--sqr);
    text-align: center;


    h1 {
        color: $goblin;
        padding: 10px 35px;
        position: relative;
        text-transform: uppercase;
    }
}

#buy {
    background-color: $champagne;
    padding: 25px;
    display: flex;
    flex-flow: column;
    min-height: 46vh;
    justify-content: space-around;

    .title {
        text-align: center;

        h1 {
            display: inline-block;
            color: $dixie;
            text-transform: uppercase;
            margin-left: 15px;
            margin-bottom: 25px;
            border-bottom: 5px solid $goblin;
        }
    }

    .prev-nav, .next-nav {
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        width: 9%;

        a {
            color: $atlantis;
        }
    }

    .buy-slider {
        display: inline-block;
        width: 80%;
        vertical-align: middle;

        .slide {
            padding: 25px;

            img {
                width: 80%;
                margin: 0 auto;
            }
        }

        @media (max-width: 768px){
            width: 79%;
        }
    }
}

#productos {

    .producto-slider {
        width: 55%;
        margin: 0 auto;
        padding: 50px;
        position: relative;

        .next {
            position: absolute;
            top: calc( 50% - 37px );
            right: 0;
            right: 43px;
            z-index: 2;
            padding: 20px 25px;
            border-radius: 50%;
            background-color: $dixie;
            @include smooth_transition(250ms);

            i {
                color: white;
            }

            &:hover {
                background-color: $goblin;
            }
            @media ( max-width: 680px ){
                padding: 10px 15px;
            }
            @media ( max-width: 480px ){
                right: 15px;
            }
        }
        .prev {
            position: absolute;
            top: calc( 50% - 34px );
            left: 43px;
            z-index: 2;
            padding: 20px 25px;
            border-radius: 50%;
            background-color: $dixie;
            @include smooth_transition(250ms);

            i {
                color: white;
            }

            &:hover {
                background-color: $goblin;
            }
            @media ( max-width: 680px ){
                padding: 10px 15px;
            }
            @media ( max-width: 480px ){
                left: 15px;
            }
        }

        .producto-nav {
            position: absolute;
            top: calc( 50% - 42px );
            z-index: 3;
            width: 85%;
            display: flex;
            justify-content: space-between;

            a {
                padding: 20px 25px;
                border-radius: 50%;
                background-color: $dixie;

                i {
                    color: white;
                }
            }
        }

        .slide  {
            padding: 45px 25px;
            // background-color: $dixie;
            background-color: #e9f1ed;
            border-radius: 10px;
            // min-height: 650px;
            text-align: center;

            img {
                max-width: 100%;
                max-width: 545px;
                width: 60%;
                padding: 10px;
                // height: 100%;
                margin: 0 auto;
            }

            .subtitle {

                margin-top: 15px;

                h3 {
                    color: $goblin;
                }

                @media (max-width: 480px){
                    width: 90%;
                    padding: 0 7.5px;
                    margin: 0 auto;
                }
            }
        }

        @media ( max-width: 768px ){
            width: 80%;
        }
        @media ( max-width: 680px ){
            width: 90%;
        }
        @media ( max-width: 480px ){
            width: 100%;
            padding: 40px 20px;
        }
    }

}
